$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $MediumGray;
  font-family: 'Epilogue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: .625rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
body {
  background: $AlmostWhite;
}

.attribution {
  display: none;
}
